Package: com.peterdev.bypasslotteria
Name: Bypass LotteRia
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: 롯데리아 앱의 탈옥을 우회시킵니다.
Maintainer: PeterDev <djperter@icloud.com>
Author: PeterDev <djperter@icloud.com>
Section: Tweaks
